<div class="col-md-3" style="margin-top:-50px">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="<%= data.taikhoan[0].HinhDaiDien %>" alt="User profile picture" style="width:100px !important; height: 100px !important;background-size: cover;">
            </div>

            <h3 class="profile-username text-center">
                <%= data.taikhoan[0].HoVaTen %>
            </h3>

            <p class="text-muted text-center">@<%= data.taikhoan[0].TenDangNhap %>
            </p>
            
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Ngày sinh</b> <a class="float-right"><%= data.taikhoan[0].NgaySinh %></a>
                </li>
                <li class="list-group-item">
                    <b>Email</b>
                    <a class="float-right"><%= data.taikhoan[0].Email %></a>
                </li>
                <li class="list-group-item">
                    <b>Giới tính</b>
                    <% if (!data.taikhoan[0].GioiTinh) { %>
                        <a class="float-right">Nữ</a>
                    <% } %>
                    <% if (data.taikhoan[0].GioiTinh) { %>
                        <a class="float-right">Nam</a>
                    <% } %>
                </li>
                <li class="list-group-item">
                    <b>Địa chỉ</b>
                    <a class="float-right"><%= data.taikhoan[0].DiaChi %></a>
                </li>
            </ul>

            <center>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-flat">Hành động</button>
                    <button type="button" class="btn btn-info btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="/chi-nhanh">Chi nhánh</a>
                        <a class="dropdown-item" href="/dich-vu">Dịch vụ</a>
                        <a class="dropdown-item" href="/uu-dai">Ưu đãi</a>
                        <a class="dropdown-item" href="/">Tài khoản</a>
                        <a class="dropdown-item" href="/account/doi-mk">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="/account/dang-xuat">Đăng xuất</a>
                    </div>
                </div>
            </center>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- About Me Box -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Thông tin doanh nghiệp</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <strong><i class="far fa-chart-bar mr-1"></i></i> Trạng thái</strong>
            <% if (data.ttDoiTac[0].TrangThai==-1) { %>
                <p class="text-muted">Chờ phê duyệt</p>
            <% } %>
            <% if (data.ttDoiTac[0].TrangThai==0) { %>
                <p class="text-muted">Bị từ chối</p>
            <% } %>
            <% if (data.ttDoiTac[0].TrangThai==1) { %>
                <p class="text-muted">Đã phê duyệt</p>
            <% } %>
            <hr>
            <strong><i class="fas fa-address-card mr-1"></i> Tên doanh nghiệp</strong>

            <p class="text-muted"><%= data.ttDoiTac[0].TenDoanhNghiep %></p>

            <hr>
            <strong><i class="fas fa-pencil-alt mr-1"></i> Giới thiệu</strong>

            <p class="text-muted">
                <%= data.ttDoiTac[0].GioiThieuNgan %>
            </p>

            <hr>
           
            <strong><i class="fas fa-list mr-1"></i> Lĩnh vực kinh doanh</strong>

            <p class="text-muted">
            <% data.lvkd.forEach(function(item){ %>
                <%= item.TenLinhVuc %>,&nbsp;
            <% }); %>
            </p>
            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Loại hình</strong>

            <p class="text-muted"><%= data.ttDoiTac[0].TenLoaiHinh %></p>
            <hr>

            <strong><i class="fas fa-clock mr-1"></i> Ngày tham gia</strong>

            <p class="text-muted"><%= data.ttDoiTac[0].NgayThamGia %></p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->